@{
    ViewBag.Title = "SelectRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    SelectRole</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

  

    <p>
        <input type="submit" value="Submit" />
    </p>
}