@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
@foreach (Internet.Models.Test item in Model)
{
    <li>@item.Difficulty.DifficultyName</li>
}
</ul>