@{    

        ViewBag.Title = "Home Page Fluid Layout";
        ViewBag.Message = "Bootstrap Fluid Layout";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>
        @ViewBag.Message</h1>

</div>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
       @User.IsInRole("Professor") proffesor
    </div>
    <div class="span4">
        @User.IsInRole("Student") student
    </div>
    <div class="span4">
        
    </div>
</div>
