@model Internet.Models.Question

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">QuestionBody</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionBody)
    </div>

    <div class="display-label">TestID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TestID)
    </div>

    <div class="display-label">QuestionType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionType)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
